@font-face {
	font-weight: 400;
	font-family: Major;
	font-display: swap;
	src: url('/fonts/MajorMonoDisplay-Regular.ttf');
}

@font-face {
	font-weight: 400;
	font-family: RedHat;
	font-display: swap;
	src: url('/fonts/RedHatText-Regular.ttf');
}
