@use '../settings/spacing';
@use '../settings/sizes';

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: spacing.$xl;

	@media (min-width: sizes.$tablet) {
		margin-top: spacing.$xl;
	}

	@media (min-width: sizes.$desktop) {
		margin-top: spacing.$xl;
	}
}
