@use '../settings/typography' as typographyFam;
@use '../tools/typography';
@use '../settings/colors';
@use '../settings/spacing';

.heading {
	margin: spacing.$md;
	color: colors.$text-primary;
	font-family: #{typographyFam.$font-family-redHat};
	@include typography.h100-regular;

	&--white {
		color: colors.$text-secondary;
	}

	&--major {
		font-family: #{typographyFam.$font-family-major};
		@include typography.h100-regular-major;
	}

	&--centered {
		text-align: center;
	}
}
