@use '../settings/border';
@use '../settings/colors';
@use '../settings/spacing';
@use '../settings/sizes';
@use '../settings/typography';

.icon-btn {
	display: flex;
	color: colors.$text-primary;
	font: inherit;
	font-weight: 700;
	text-decoration: none;
	border: none;
	border-radius: border.$radius-xl;
	transition: all 0.2s;
	width: sizes.$mobile-xs;

	&--large {
		padding: spacing.$xs spacing.$lg;
		font: typography.$b400-bold;
		margin: spacing.$tiny;
	}

	&--primary {
		&:hover {
			background: colors.$cta-primary-hover;
			color: colors.$text-primary-hover;
			border: border.$radius-default solid colors.$text-primary-hover;
		}
	}

	&--centered {
		margin: 0 auto;
	}

	@media (min-width: sizes.$mobile-xs) {
		width: sizes.$mobile-xs;
		&--large {
			padding: spacing.$tiny spacing.$tiny;
		}
	}

	@media (min-width: sizes.$tablet) {
		width: sizes.$mobile;
		&--large {
			padding: spacing.$xs spacing.$xs;
		}
	}

	@media (min-width: sizes.$desktop) {
		width: sizes.$mobile;
		&--large {
			padding: spacing.$xs spacing.$xs;
		}
	}
}
