@use '../settings/border';
@use '../settings/colors';
@use '../settings/spacing';
@use '../settings/typography';

.icon-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// width: var(--size);
	// height: var(--size);
	font-family: inherit;
	border: none;
	border-radius: 50%;
	transition: all 0.2s;

	&--small {
		--size: 3rem;
	}

	&--medium {
		--size: 4rem;
	}

	&--large {
			width: 35em;
	}

	&--light {
		color: colors.$text-primary;
		background: colors.$white;

		&:hover {
			background: colors.$white-hover;
		}
	}

	// &--dark {
	//   color: colors.$white;
	//   background: colors.$cta-secondary;

	//   &:hover {
	//     background: colors.$cta-secondary-hover;
	//   }
	// }
}


.btn {
	color: colors.$text-primary;
	font: inherit;
	font-weight: 700;
	text-decoration: none;
	border-radius: border.$radius-xl;

	&--large {
		padding: spacing.$xs spacing.$lg;
		font: typography.$b400-bold;
		width: 35em;
	}

	&--primary {
		&:hover {
			background: colors.$cta-primary-hover;
			color: colors.$text-primary-hover;
			border: border.$radius-default solid colors.$text-primary-hover;
		}
	}
}

