$_primary-white: #fff;
$_primary-black: #000000;
$_hover-black: #000000;

$cta-primary: $_primary-white;
$cta-primary-hover: $_primary-black;

$bg-primary: $_primary-black;

$text-primary: $_primary-black;
$text-primary-hover: $_primary-black;

$text-secondary: $_primary-white;
$text-secondary-hover: $_primary-white;

$white: $_primary-white;
$white-hover: rgb(255 255 255 / 70%);
